<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD App</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="/tasks">Tareas pendientes</a>
            </li>
            <li>
                <a href="/tasks_completed">Tareas completadas</a>
            </li>
            <li>
                <a href="/tasks/create">Crear Tarea</a>
            </li>
            <li>
                <a href="/logout">Cerrar sesión</a>
            </li>
            {% else %}
            <li>
                <a href="/signup">Registrarse</a>
            </li>
            <li>
                <a href="/signin">Iniciar sesión</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>