{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore similique modi ipsa necessitatibus soluta alias a praesentium in quasi doloribus recusandae non fugit explicabo exercitationem cupiditate, nesciunt nulla labore quod! Iure hic non, voluptates eveniet voluptate illum! Aspernatur id quisquam accusantium magni sapiente, impedit dolorum adipisci vitae provident neque eaque explicabo repellat consequatur, quis ut nesciunt, soluta ea sit itaque quaerat dicta! Minus earum ratione voluptate nulla maxime blanditiis eius. Cupiditate non dolorem ipsa magni tempore, ratione dignissimos repellat quod iusto debitis beatae praesentium molestias, quibusdam accusantium corporis voluptatem magnam, quam numquam pariatur atque eum! Nesciunt dolorum nobis voluptates id!</P>
{% endblock %}